body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  justify-content: flex-start;
}
#title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 20px 0;
  /* background-color: #4CAF50; */
  width: 100%;
  margin-top: 100px;
}
#chat-full-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* 채팅 내용과 입력창 사이 공간 배분 */
  height: calc(100vh - 180px); /* 상단 헤더와 푸터를 제외한 화면의 높이 설정 */
  max-width: 600px; /* 최대 너비 제한 */
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
#chat-container {
  overflow: scroll;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  overflow-y: auto;
  scrollbar-width: none; /* Firefox  스크롤바 숨기기*/
  flex: 1;
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 50%;
  box-sizing: border-box;
  max-height: 80%;
  margin-top: 80px;
}
#chat-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera  스크롤바 숨기기*/
}
.message-box {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  width: fit-content;
  max-width: 80%;
  position: relative;
}
.user {
  background-color: #ffeb3b;
  align-self: flex-end;
}
.ai_assistant {
  background-color: #eeeeee;
  align-self: flex-start;
}
.label {
  font-size: 10px;
  position: absolute;
  top: -10px;
  margin-bottom: 5px;
  color: #777777;
}
.user-label {
  right: 2px;
}
.ai-assistant-label {
  left: 2px;
}
#chat-form {
  display: flex;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 10px 0;
  bottom: 100px;
}
#chat-input {
  width: 80%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
#send-button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
#send-button:hover {
  background-color: #45a049;
}
.material-symbols-outlined {
  font-size: 24px;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #c7c7c7;
  width: 15px;
  height: 15px;
  animation: spin 3s linear infinite;
}
.source-container {
  margin-bottom: 5px;
}

.source-title {
  cursor: pointer;
  margin: 0;
  margin-bottom: 0;
}

.source-content {
  display: none;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
